/*CSS does not interact with Javascript*/


.map{
	width : 100%;


}

.map-container {
	width: 1100px;
	/*margin: 0 auto; */
	position: relative;
}

#log{
	height : 30px;
	position: fixed;
	top: 10px;
	left: 10px;
	width: 100px;
	border: 1px solid white;
}

.marker {
	height: 10px;
	width: 10px;
	background-color: gold;
	border-radius: 100px;
	position: absolute;
	border :  1px solid black;

	/*If we did position: relative; that would mean the markers would be IN the document flow and would be added after their siblings.  By using absolute, we take the markers out of the document flow so we can position them more freely. */ 

}